@import url('https://aziz-sobirov.github.io/AS-library/css/as.css');

@mixin flexbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

.app{
    min-height: 100vh;
    background: url(../bgImage.jpg) center/cover;
    @include flexbox;
    &_search{
        position: fixed;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100%;
        background: url(../bgImage.jpg) center/cover;
        @include flexbox;
        flex-wrap: nowrap;
        flex-direction: column;
        z-index: 2;
        .input{
            height: 35px;
            #as_btn{
                height: 100%;
                max-width: 40vw;
                border-radius: 0 4px 4px 0;
            }
            #as_input{
                height: 100%;
                max-width: 60vw;
                border-radius: 4px 0 0 4px;
            }
            #as_btn:hover::before{
                background: #38b8d0;
            }
        }
        p{
            margin-top: 10px;
            color: #fff;
        }
    }
    &_search-hide{
        display: none;
    }
    &_content{
        padding: 20px;
        min-width: 200px;
        @include flexbox;
        flex-direction: column;
        background: #f1f1f130;
        backdrop-filter: blur(10px);
        color: #fff;
        li{
            margin-top: 10px;
            &:not(:first-child){
                margin-top: 5px;
            }
        }
        a{color: #fff;}
    }
}
